<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spendly.app">

    <!-- Permissions for internet access and updates -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Permissions for downloading and installing APKs -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!-- For Android 11+ file access -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <!-- Permissions for CSV export -->

    <application
        android:label="Spendly"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Enable high refresh rate for smooth animations -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="flutter"/>
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <!-- Support for 90Hz, 120Hz, 144Hz displays -->
            <meta-data
                android:name="android.max_aspect"
                android:value="2.4"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>
</manifest>